* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  background: var(--body-bg-color);
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

div.perfil {
  padding: 20px;
}

.perfil header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.perfil header p {
  color: var(--purple);
}

.perfil img#foto-perfil {
  height: 200px;
  width: 200px;
  padding: 5px;
  border: 2px solid var(--purple);
  border-radius: 100%;
}

.perfil main {
  margin-block: 3.3rem 6.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.perfil main a {
  width: 100%;
  border-radius: 0.4rem;
  border: 0.2rem solid var(--purple);
  padding: 1.2rem;
  text-decoration: none;
  text-align: center;
  color: var(--purple);
}

.perfil a:hover {
  filter: brightness(1.2);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.9rem;
}
